.color{
    background-color: rgb(187, 173, 173);
}

.background{
    background-color: rgb(241, 234, 234);
}

.sobre-titulo{
    text-align: center;
    font-size: 48px;
    font-family: 'Pacifico', cursive;
}

.sobre-paragrafo{
    text-align: center;
    font-size: 22px;
}

.rodape-texto{
    text-align: center;
}

footer{
    background-color: rgb(223, 214, 204);
}

.biografia-titulo{
    text-align: center;
}

.float{
    float: left;
}

.biografia-texto{
    font-size: 20px;
    margin-left: 10rem;
    margin-right: 8rem;
}

.decoracao{
    list-style: none;
    font-size: 20px;
}

.ul-titulo{
    font-weight: bold;
}

.fundo-bio{
    background-color: rgb(212, 156, 156);
}

.flex{
    display: flex;
}

.card{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    margin-right: 5rem;

}

.cor-trabalhos{
    background-image: url(https://i.pinimg.com/originals/a5/a4/f5/a5a4f5fbb23f890f55a03b13131545aa.jpg);
}